[submodule "themes/hugo-tranquilpeak-theme"]
  path = themes/hugo-tranquilpeak-theme
  url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/hugo-geo"]
	path = themes/hugo-geo
	url = http://github.com/alexurquhart/hugo-geo.git
