{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<header>
	<!-- Check if header is not set or empty -->
	{{ if (not (isset .Site.Params "header")) | or (eq .Site.Params.header "") }}
	  <br>

		<h1>What I'm Thinking</h1>
	{{ else }}
		<h1>{{ .Site.Params.header }}</h1>
	{{ end }}
</header>

<blockquote class="embedly-card"><h4><a href="https://towardsdatascience.com/bayesian-priors-and-regularization-penalties-6d0054d9747b">Bayesian Priors and Regularization Penalties</a></h4><p>Empirically Examining their Equivalence Bayesian methods of performing machine learning offer several advantages over their counterparts, notably the ability to estimate uncertainty and the option to encode contextual knowledge as prior distributions. Why then, aren't they more widely used?</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<blockquote class="embedly-card"><h4><a href="https://towardsdatascience.com/implementing-a-deepmind-baseline-starcraft-reinforcement-learning-agent-7b1ef6f41b52">Implementing a DeepMind Baseline StarCraft Reinforcement Learning Agent</a></h4><p>It processes screen and minimap feature layers with... two layers with 16, 32 filters of size 8, 4 and stride 4, 2 respectively. The non-spatial features vector is processed by a linear layer with a tanh non-linearity. The results are concatenated and sent through a linear layer with a ReLU activation.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<blockquote class="embedly-card"><h4><a href="https://blog.goodaudience.com/lessons-and-mistakes-from-my-first-reinforcement-learning-starcraft-agent-4245cc35e956">Lessons and Mistakes from my First Reinforcement Learning StarCraft Agent</a></h4><p>Seeing as the beginning of August marked the 14th month since my entry into data science and machine learning, I decided that I had waited around long enough without satisfying one of the deeper wishes of the inner child who kept me motivated through this past year of intensive learning.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<blockquote class="embedly-card"><h4><a href="https://medium.com/@rayheberer/black-magic-and-hyperparameter-tuning-ef875eb31712">Black Magic and Hyperparameter Tuning</a></h4><p>Deconstructing the Art Raise your hand if you've heard these before: "Hyperparameter tuning is more of an art than a science." "Tuning Machine Learning models is like black magic." These are nice, evocative statements that may serve well in instilling a sense of intrigue towards our work as Data Scientists in the laypeople we have casual conversations with.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<blockquote class="embedly-card"><h4><a href="https://medium.com/@rayheberer/simple-equations-worth-thinking-about-again-1ad6e6a9c026">Revisiting the Mathematical Foundations of Data Science</a></h4><p>Functions and Derivatives Ideas from mathematics underlie virtually every technique and concept in Data Science. While possessing a rigorous understanding of all these ideas is certainly not required, it can be beneficial.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<blockquote class="embedly-card"><h4><a href="https://medium.com/lambda-school-machine-learning/the-feature-scaling-terminology-zoo-standardization-vs-normalization-21411ddfa9f2">The Feature Scaling Terminology Zoo</a></h4><p>Standardization vs. Normalization Data Science is an exciting field that combines many disciplines and has brought academia and industry together in spectacular fashion. For the beginner practitioner, there are a wealth of resources available for them to learn from, and career opportunities to match.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<blockquote class="embedly-card"><h4><a href="https://becominghuman.ai/a-discussion-of-machine-learning-competitions-df775576e060">A Discussion of Machine Learning Competitions</a></h4><p>Define some objective, then let a population of algorithms compete against one another, mixing and refining characteristics of the most successful of their predecessors, and occasionally introducing novel approaches. I'm speaking, of course, of machine learning competitions. They are rather ubiquitous in today's research and commercial environment, but what are they good for, and what should one know about them?</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<blockquote class="embedly-card"><h4><a href="https://blog.floydhub.com/generating-six-pack-abs-with-tensorflow/">Generating Six-Pack Abs With TensorFlow pix2pix</a></h4><p>Visualizing results can be a powerful form of motivation and preparation. However, in the fitness domain, it can often be difficult to clearly see this future outcome. Can we use deep learning to bring people closer to their individual fitness goals by helping them visualize their future results?</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>


{{ partial "footer.html" . }}
