<section id="projects">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;
          <strong><a href="https://github.com/rayheberer/brAIkdown">brAIkdown</a></strong>&nbsp;-&nbsp;Sequence generation with Long Short Term Memory (LSTM) neural network applied to the creation of metal breakdowns.
        </h5>
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;
          <strong><a href="https://github.com/rayheberer/spotify" target="_blank">Spotify Top Tracks Feature Explorer</a></strong>&nbsp;-&nbsp;Exploratory analysis on spotify track data. <a href="https://rayheberer.shinyapps.io/spotify_top_tracks_feature_explorer/">Shiny App</a> in development.
        </h5>
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;
          <strong><a href="https://github.com/rayheberer/twitterbot" target="_blank">@RobertRealGuy</a></strong>&nbsp;-&nbsp;A <a href="https://twitter.com/robertrealguy" target="_blank">twitterbot</a> that performs sentiment analysis on tweets and then disagrees or agrees with them.
        </h5>
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;
          <strong><a href="https://github.com/rayheberer/imgnoise" target="_blank">imgnoise</a></strong>&nbsp;-&nbsp;An R package that generates random noise on images and arrays.
        </h5>
      </div>
    </div>
  </div>
</section>
