<section id="projects">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="{{ .icon }}"></i>&nbsp;&nbsp;
          <strong><a href="https://github.com/rayheberer/imgnoise" target="_blank">imgnoise</a></strong>&nbsp;-&nbsp;A twitterbot that performs sentiment analysis on tweets and then disagrees or agrees with them.
        </h5>
        <h5>
          <i class="{{ .icon }}"></i>&nbsp;&nbsp;
          <strong><a href="https://github.com/rayheberer/twitterbot" target="_blank">@RobertRealGuy</a></strong>&nbsp;-&nbsp;An R package that generates random noise on images and arrays.
        </h5>
      </div>
    </div>
  </div>
</section>
